<%-include('includes/header') %>

<body>
  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="https://media.istockphoto.com/id/1437646908/photo/young-man-using-a-dslr-camera-in-a-forest-in-autumn.jpg?b=1&s=612x612&w=0&k=20&c=RKTUb1aiq1jdusbaJ-ani2C9ICnLESXC0DJavnMI1pY="
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</body>

<%-include('includes/footer') %>
